:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-Paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-lightgray-Background-Headings-Buttons: hsl(0, 0%, 95%);
}

* {
  margin-top: 0;
  margin-left: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 92rem;
  height: 50rem;
  align-items: center;
  margin: 17rem 26rem 13rem 26rem;
}

.orange {
  background-color: var(--Bright-orange);
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.orangeLogo {
  width: 6.5rem;
  height: 4rem;
  margin-top: 4.9rem;
  margin-left: 4.8rem;
}

.orangeH2 {
  margin-left: 4.8rem;
  margin-top: 4.2rem;
  font-family: "Big Shoulders Display", cursive;
  color: white;
  font-size: 3.8rem;
}

.orangeText {
  margin-left: 4.8rem;
  margin-top: 3.9rem;
  width: 19.4rem;
  color: var(--Transparent-white-Paragraphs);
  font-family: "Lexend Deca", sans-serif;
  line-height: 2.8rem;
  font-size: 1.39rem;
}

.orangeButton {
  margin-left: 4.8rem;

  width: 14.6rem;
  height: 4.8rem;
  margin-top: 5rem;
  margin-bottom: 4.7rem;
}

.orangeButton button {
  width: 14.6rem;
  height: 4.8rem;
  background-color: var(--Very-lightgray-Background-Headings-Buttons);
  border-radius: 3rem;
  border: none;
  color: var(--Bright-orange);
  font-family: "Lexend Deca", sans-serif;
}

.orangeButton button:hover {
  cursor: pointer;
}

.blue {
  background-color: var(--Dark-cyan);
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.blueLogo {
  width: 6.5rem;
  height: 4rem;
  margin-top: 4.9rem;
  margin-left: 4.8rem;
}

.blueH2 {
  margin-left: 4.8rem;
  margin-top: 4.2rem;
  font-family: "Big Shoulders Display", cursive;
  color: white;
  font-size: 3.8rem;
}

.blueText {
  margin-left: 4.8rem;
  margin-top: 3.9rem;
  width: 19.4rem;
  color: var(--Transparent-white-Paragraphs);
  font-family: "Lexend Deca", sans-serif;
  line-height: 2.8rem;
  font-size: 1.39rem;
}

.blueButton {
  margin-left: 4.8rem;

  width: 14.6rem;
  height: 4.8rem;
  margin-top: 5rem;
  margin-bottom: 4.7rem;
}

.blueButton button {
  width: 14.6rem;
  height: 4.8rem;
  background-color: var(--Very-lightgray-Background-Headings-Buttons);
  border-radius: 3rem;
  border: none;
  color: var(--Dark-cyan);
  font-family: "Lexend Deca", sans-serif;
}

.blueButton button:hover {
  cursor: pointer;
}

.green {
  background-color: var(--Very-dark-cyan);
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.greenLogo {
  width: 6.5rem;
  height: 4rem;
  margin-top: 4.9rem;
  margin-left: 4.8rem;
}

.greenH2 {
  margin-left: 4.8rem;
  margin-top: 4.2rem;
  font-family: "Big Shoulders Display", cursive;
  color: white;
  font-size: 3.8rem;
}

.greenText {
  margin-left: 4.8rem;
  margin-top: 3.9rem;
  width: 19.4rem;
  color: var(--Transparent-white-Paragraphs);
  font-family: "Lexend Deca", sans-serif;
  line-height: 2.8rem;
  font-size: 1.39rem;
}

.greenButton {
  margin-left: 4.8rem;

  width: 14.6rem;
  height: 4.8rem;
  margin-top: 5rem;
  margin-bottom: 4.7rem;
}

.greenButton button {
  width: 14.6rem;
  height: 4.8rem;
  background-color: var(--Very-lightgray-Background-Headings-Buttons);
  border-radius: 3rem;
  border: none;
  color: var(--Very-dark-cyan);
  font-family: "Lexend Deca", sans-serif;
}

.greenButton button:hover {
  cursor: pointer;
}

.attribution {
  font-size: 2rem;
  text-align: center;
  justify-content: center;
  color: var(--Dark-cyan);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 3rem;
  border: .5rem solid var(--Very-dark-cyan);
  background-image: url(https://c.tenor.com/bhbciND-xRAAAAAC/matrix-matrix-code.gif);

}
.attribution a {
  color: var(--Bright-orange);
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.5rem;
  
}
